Package: firewall
Version: 2013-08-14
Depends: libc, libubox, libubus, libuci, libip4tc, libip6tc, libxtables, kmod-ipt-core, kmod-ipt-nat
Source: package/network/config/firewall
SourceFile: firewall-2013-08-14-224d93afe97f575777fee3fdb22e0995cfd5704b.tar.gz
SourceURL: git://nbd.name/firewall3.git
Section: net
Maintainer: Jo-Philipp Wich <jow@openwrt.org>
Architecture: ramips_24kec
Installed-Size: 55453
Description:  This package provides a config-compatible C implementation of the UCI firewall.
